<article class="misionScreen d-flex py-5">
  <div class="d-flex flex-column text-center mision-box">
    <i class="fas fa-bullseye icon"></i>
    <h4 class="titulo icono mision">Nos propusimos como <b>MISIÓN</b></h4>
    <p class="parrafo">
      Ofrecer soluciones tecnológicas innovadoras a la medida y de gran valor para el cliente, mediante el diseño y desarrollo de proyectos que integren metodologías, estrategias; productos y servicios con los más altos estándares de calidad, eﬁciencia y desempeño.
    </p>
  </div>
  <div class="d-flex flex-column text-center mision-box">
    <i class="far fa-eye icon"></i>
    <h4 class="titulo icono vision">Nuestra <b>VISIÓN</b></h4>
    <p class="parrafo">
      Ser reconocidos a corto plazo como el mejor aliado para instituciones públicas y privadas en la conceptualización de ideas, integración e implementación de proyectos tecnológicos, generando conﬁabilidad, y satisfacción en cada proyecto realizado.
    </p>
  </div>
</article>