    <div class="d-flex services-header my-4">
      <h1 class="text-center">Servicios</h1>
      <article class="soluciones">
        <h4 class="titulo">Las <b>soluciones</b> que ofrecemos</h4>
        <p class="parrafo">Dentro de nuestra amplia gama de servicios podemos mencionar:</p>
      </article>

      <ul class="lista">
        <li>CRE: Cumplimiento de obligaciones, títulos de permiso y más.</li>
        <li>ASEA: Trámites de carácter ambiental, Licencia Ambienta Única, informes preventivos y más.</li>
        <li>SENER: Regulaciones energéticas como Evaluación de Impacto Social.</li>
      </ul>
    </div>

      <article class="articulo tablerosdigitales d-flex justify-content-around flex-wrap">
        <div class="article-box d-flex flex-column">
          <h5 class="titulo icono">Pólizas de servicio</h5>
          <div class="texto activeboard">
            <ul class="especificaciones">
              <li class="titulo">
                Enfocado a permisionarios de la CRE, los cuales implican dar cumplimiento a las obligaciones inherentes a los mismos de manera periódica.
              </li>
            </ul>
          </div>
        </div>

        <div class="article-box d-flex flex-column">
          <h5 class="titulo icono">LAU</h5>
          <div class="texto activeboard">
            <ul class="especificaciones">
              <li class="titulo">
                Autorización en materia de prevención y control de la contaminación atmosférica que emite la Agencia para las fuentes de jurisdicción federal del Sector Hidrocarburos.
              </li>
            </ul>
          </div>
        </div>
      </article>


      <article class="articulo tablerosdigitales d-flex justify-content-around flex-wrap">
        <div class="article-box d-flex flex-column">
          <h5 class="titulo icono">Bitácoras App y Web</h5>
          <div class="texto activeboard">
            <ul class="especificaciones">
              <li class="titulo">
                En la Norma Oficial Mexicana NOM-005-ASEA-2016 se establece la necesidad de control de todas las actividades realizadas en las estaciones de servicio, las cuales deberán registrarse en Bitácoras de operación y mantenimiento.
              </li>
            </ul>
          </div>
        </div>

        <div class="article-box d-flex flex-column">
          <h5 class="titulo icono">Evaluaciones</h5>
          <div class="texto activeboard">
            <ul class="especificaciones">
              <li class="titulo">
                Enfocados al cumplimiento de regulaciones del sector energético, tales como Evaluación de Impacto Social, Riesgo Ambiental, Títulos de permiso y Manifestación de Impacto Ambiental.
              </li>
            </ul>
          </div>
        </div>
      </article>