<figure id="video_player">
  <div id="video_container">
    <%= video_tag(["videos/tramites_energeticos_SGM.mp4"], :size => "320x240", :controls => true, :type => "video/mp4", :autoplay => true) %>
  </div>
  <figcaption>
    <a href="#">
      <%= image_tag "tank-of-car.jpg" %>
    </a>
    <a href="#">
      <%= image_tag "imagenServlet.jpg" %>
    </a>
    <a href="#">
      <%= image_tag "download.png" %>
    </a>
  </figcaption>
</figure>

<script type="text/javascript">

</script>