<div class="HomePage">
  <div class="company-name">Trámites Energéticos</div>
  <div class="header">
    <%= image_tag 'logo.png', class:'logo-image'%>
    <h3 class="subtitle">Hemos gestionado con éxito y garantía de resultados favorables más de 500 permisos, por lo que nuestra experiencia está probada.</h3>
    <%=link_to 'login' do %>
      <button class="button">Iniciar sesión</button>
    <% end %>
  </div>
  <div class="about-box">
    <div class="about-image">
    </div>
    <div class="about-text">
     <p>En nuestra empresa colaboran profesionistas de amplia experiencia y conocimiento, tanto del sector energético como en la administración pública, quienes pueden llevar a cabo las
     actividades requeridas ante la Comisión Reguladora de Energía (CRE), la Secretaría de Energía (SENER) y el Servicio de Administración Tributaria (SAT) por lo que podemos garantizar los resultados en tiempo y forma, reduciendo los riesgos y sin distraer a personal sustantivo y operativo en su empresa.</p>
    </div>
  </div>
  <footer class="footer-section mt-5">
        <div class="container">
            <div class="footer-cta pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta d-flex">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="cta-text">
                                <h4>Encuéntranos</h4>
                                <span>Blvd. Adolfo López Mateos 172, Col. Merced Gómez, Del. Benito Juárez, 03930, Ciudad de México, CDMX</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="fas fa-phone"></i>
                            <div class="cta-text">
                                <h4>Llámanos</h4>
                                <span>+52 55 8852 1281</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-4 mb-30">
                        <div class="single-cta">
                            <i class="far fa-envelope-open"></i>
                            <div class="cta-text">
                                <h4>Escríbenos</h4>
                                <span>info@tramitesenergeticos.com.mx</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2021, All Right Reserved Tramites Energéticos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>