.SignupForm {
  background: #ededed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .form-image {
    width: 30%;
    border-radius: 1em 1em 0 0;
    height: 200px;
  }
  .form-box {
    width: 30%;
    background-color: white;
    padding: 2em 1.5em;
    border-radius: 0 0 1em 1em;
    .actions {
      width: 50%;
      margin: 0 auto;
      .button {
        width: 100%;
      }
    }
  }
}